* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background:var(--bg3);
    border-radius: 3px;

}
.test{
   scrollbar-width: 40%;
}
 

:root {
    --sha: 0 0 15px rgba(0, 0, 0, 0.3) !important;
    --bg: antiquewhite;
    --bg2: rgb(255, 0, 106);
    --bg3: rgb(255, 0, 76);
--bg4:rgb(255, 115, 0);
}
.c1{
    color:rgb(255, 0, 76);
}
.bg4{
    background-color: var(--bg4);
  
}
.bg3{
    background-color: var(--bg3);
 

}
.bg2{
    background-color: var(--bg2);
 

}
.bg {
    background-color: var(--bg);
}

.shadow {
    box-shadow: var(--sha);
    border-radius: 10px;
}

.homebg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("./img/carbg2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.navli a {
    border-radius: 5px;
}

.navli a:hover {
    background-color: rgb(255, 0, 76);
    color: white !important;
}

.navz {
    z-index: 999;
}

.homecontent {
    min-height: 87vh;
}

.searchbtn {
    background-color: rgb(255, 0, 76);
}

.branch1 {
    width: 300px !important;
    box-shadow: var(--sha);
    background-color: rgb(255, 51, 112);
}

.bran {
    padding-top: 30px;
    padding-bottom: 80px;
    background-color: var(--bg)
}

.bran .icon {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bran .left {
    width: 30%;
}

.bran .right {
    width: 70%;
}
/* ---------------------car run img---------- */
.carrunall{
    width:50%;
    /* overflow: hidden!important; */
   
}
.running{
    background-color: rgb(255, 174, 221);

}
.carrunimg{
    animation-name: carroll;
    animation-duration: 10s;
    animation-timing-function:linear ;
    animation-iteration-count: infinite;
}
@keyframes carroll{
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-100%);
    }
}
.carrunimg div{
    width:200px;
    height:150px;
    border: 8px solid white;
    background-color: antiquewhite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),0 0 10px rgba(0, 0, 0, 0.3)inset;
    border-radius: 2px;

}
.carrunimg div img{
    width:180px;
    height:130px;
    object-fit: contain;
}
.smallcar{
    width:140px!important;
}
@media screen and  (max-width:600px) {
    .carrunall{
        width:100%;
    }
    @keyframes carroll{
        0%{
            transform: translate(0%);
        }
        100%{
            transform: translate(-220%);
        }
    }
}
/* ------------------new car style-------- */
.car1 {
    width: 300px !important;
}

.runcar {
    width: 100px;
}

/* -----------------------sroll animation-------------- */
.slani {
    animation: srcoll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

@keyframes srcoll {
    from {
      
        transform: scale(0.8);

    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}

/* ---------------popular car-------------- */
.Popularcar {
    margin-top: 80px;
}

.car1{
    box-shadow: var(--sha);
}

/* -----------------services------------ */
.sha{
    box-shadow: var(--sha);
}
.radi img{
    border-radius: 10px!important;
}



@media screen and (min-width:900px) and (max-width:3000px) {
    .serviceimg {
        width: 70% !important;
    }
    
}


@media screen and (max-width:770px) {
    .disnone1{
        display: none;
    }
}


/* -------------client testimonial------------ */
.test1{
    width:300px;
}
.testimonial{
    background-color: rgb(207, 240, 255);
}


.footer{
    background-image: url("./img/Untitled\ design\ \(2\).png");
    background-size: cover;
    background-repeat: no-repeat;
    /* object-fit: cover;
    object-position: bottom; */


}